body {
    font-family: 'Helvetica', 'sans-serif';
    font-size: 16px;
    background-color: #ffffff;
    color : #000000;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    margin: 0px;
    background-color: #2E4F35;
}

main {
    height: 100%;
    /* margin: 10px 50px; */
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main-svg text {
    pointer-events: none;
}

button {
    padding: 10px 30px;
    color: #000;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 4px;
    cursor: pointer;
    outline: 0;
    font-family: 'Helvetica', 'sans-serif';
    font-size: 16px;
}

button:hover, button:active {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}

.graph {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#panel .theme {
    padding-top : 25px;
}

path {
    fill: #fff;
}
  

#panel {
    cursor: default;
}

#marker-g circle {
    cursor: pointer;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
    color: #3E5643 !important; /* didn't work*/
  }

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(54, 32, 35, 0.8);
    color: #fff;
    border-radius: 2px;
    pointer-events: none;
}

.gray-background {
    background-color: #d3d9d2 ;
} 

.main-svg {
    margin-top: 30px;
}

#graph1 {
    width: 45%;
}

#graph2 {
    width: 30%;
}