body {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 16px;
    background-color: #fff;
    color: #2A2B2E;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #fff;
    padding: 25px 100px;
}

main {
    height: 100%;
    padding-right: 25px;
}

.viz4-container {
    height: 100%;
    padding: 0 100px;
}

.viz4-graph {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tick line {
    visibility: hidden;
}

.axis text {
    font-family: 'Roboto';
    cursor: default;
}

.viz1-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viz6-container,
.viz3-container,
.viz7-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viz2-main {
    height: 100%;
    padding-right: 25px;
}

.viz2-container {
    height: 100%;
    padding: 0 100px;
}

.viz2-graph {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viz2-legend-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.viz2-legend {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.viz3-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title,
.axis-text {
    transform-origin: center;
    transform-box: fill-box;
    text-anchor: middle;
}

.legend-element {
    display: center;
    padding: 20px;
}

:root {
    --blue: #43A1D5;
    --gold: #D5B048;
    --navy_blue: #173E69;

    --light_blue: #AEDDF8;
    --light_gold: #F3DFA5;
    --light_navy_blue: #3772B4;

    --background: #FFFFFF;
    --onBackground: #000000;
}

.welcome-title {
    color: var(--navy_blue);
    font-family: 'Roboto Slab';
    margin-top: 74vh;
    font-size: 50px;
}

.page-container {
    padding: 2rem 2rem 0 2rem;
}

.markdown-title {
    font-family: 'Roboto Slab';
    font-size: 27px;
    color: var(--navy_blue);
}

.text {
    font-family: 'Roboto Slab', 'serif';
    color: #595959;
    font-size: 15px;
}

.viz7-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viz6-tooltip {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    background-color: black;
    color: whitesmoke;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Roboto Slab', 'serif';
    font-size: 12px;
    z-index: 9999;
  }

.tooltip {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    background-color: black;
    color: whitesmoke;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Roboto Slab', 'serif';
    font-size: 12px;
    z-index: 9999;
}

#tooltip-title {
    font-family: 'Roboto Slab', 'serif';
    font-weight: normal;
    font-size: 16px;
}

.tooltip-value {
    font-weight: normal;
}

.header {
    background-image: linear-gradient(to bottom, transparent 30%, white), url('./images/morocco.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: auto;
    min-height: 90%;
}
